body {
    font-family: "Poetsen One";
    vertical-align: middle;
}

@font-face {
    font-family: "Poetsen One";
    src: url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot");
    src: url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff")format("woff"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.svg#Poetsen One")format("svg");
}

#header {
    display: flex;
    flex-direction: row;
}

#centerHeader {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#leftHeader {
    margin: 0 20px;
}

#rightHeader {
    margin: 0 20px;
}

#questionTitle {
    border-radius: 10px;
    background-color: #85AD52;
    height: 100px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

#tag {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.menuSection {
    height: 100%;
    display: flex;
    align-items: center;
}

.input-tester {
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #EFFFDA;
    height: 300px;
    width: 350px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));
}

.bodySection {
    height: 100%;
    display: flex;
    align-items: center;
}

#japanese {
    display: flex;
    justify-content: center;
}

#background {
    width: 500px;
    height: 600px;
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("./svgs/Background.svg");
    position: absolute;
}

#questionAnswer {
    background-color: #A7D073;
    width: 137px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#questionAnswer:hover {
    background-color: #85AD52;
    background-image: none;
    border-radius: 10px;
    cursor: pointer;
}

p {
    text-align: center;
}

#questionAnswer[selected="true"] {
    background-color: #506732;
    color: white;
    font-weight: 700;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    margin: 0 10px;
}

button#submit {
    text-decoration: none;
    height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #85AD52;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}