body {
    font-family: "Poetsen One";
    vertical-align: middle;
}

@font-face {
    font-family: "Poetsen One";
    src: url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot");
    src: url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff")format("woff"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.svg#Poetsen One")format("svg");
}

#header {
    display: flex;
    flex-direction: row;
}

#centerHeader {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#leftHeader {
    margin: 0 20px;
}

#rightHeader {
    margin: 0 20px;
}

#questionTitle {
    border-radius: 10px;
    background-color: #85AD52;
    min-height: 50px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

#tag {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.menuSection {
    height: 100%;
    display: flex;
    align-items: center;
}

.input-tester {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: #EFFFDA;
    height: 300px;
    width: 350px;
    /* flex-grow: .50; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));
    overflow-y: scroll;
}

.bodySection {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#japanese {
    display: flex;
    justify-content: center;
}

#background {
    width: 500px;
    height: 700px;
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("./svgs/Background.svg");
    position: absolute;
}

#questionAnswer {
    background-color: #A7D073;
    width: 137px;
    min-height: 50px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#questionAnswer:hover {
    background-color: #85AD52;
    background-image: none;
    border-radius: 10px;
    cursor: pointer;
}

p {
    text-align: center;
}

#questionAnswer[selected="true"] {
    background-color: #506732;
    color: white;
    font-weight: 700;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    margin: 0 10px;
}

button#submit {
    text-decoration: none;
    min-height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #85AD52;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


/* buttons */

#back {
    font-family: inherit;
    background-color: #A7D073;
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back:hover {
    cursor: pointer;
    background-color: #506732;
    color: white;
}

#next:hover {
    cursor: pointer;
    background-color: #506732;
    color: white;
}

#next {
    font-family: inherit;
    background-color: #A7D073;
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button :hover {
    cursor: pointer;
    background-color: #A7D073;
    width: 137px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#footerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

#bookTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

#bookTitle > button {
    height: 50px;
    font: inherit;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#bookTitle > button:nth-child(even){
    background-color: #A7D073;
    width: 50px;
}

#bookTitle > button:nth-child(odd){
    background-color: #85AD52;
    width: 130px;
}

#bookTitle > button:hover {
    cursor: pointer;
}

#bookTitle > button[selected=true] {
    background-color: #506732;
    color: white;
}

button[id='select all'] {
    font-family: inherit;
    background-color: #A7D073;
    border-radius: 10px;
    border: none;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button[id='select all']:hover {
    cursor: pointer;
    background-color: #506732;
    color: white;
}


/* quiz page formatting and what not */

div#topQuiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;
}

div#topQuiz > button {
    font: inherit;
    box-shadow: 2px 4px 10px rgba(0,0,0, 25%);
    border-radius: 10px;
    border-style: none;
    background-color: #85AD52;
    padding: 5px 20px;
    margin: 0px 20px;
}

div#centerBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}

div#mainBlock {
    background-color: #A7D073;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 60%;
    align-items: center;
}

span#translated {
    display: flex;
    justify-content: center;
}

div#centerBlock > span#superScript {
    color: rgb(0,0,0, 45%);
}

div#inputBox {
    background-color: #85AD52;
    border-radius: 10px;
    border-style: none;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#inputBox > button {
    background-color: #5D8D51;
    padding: 5px 10px;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    top: -10px;
    right: 3px;
    font: inherit;
}

button:hover {
    cursor: pointer;
}

input.inputTiles {
    background-color: #A7D073;
    border-style: none;
    font: inherit;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 10px;
    height: 30px;
    width: 30px;
    font-weight: 400;
    text-align: center;
    font-size: x-large;
}

input.inputTiles[selected=true]{
    background-color: #5D8D51;
}

input.inputTiles:focus {
    outline: none;
    caret-color: transparent;
}

#containerInputBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

div#tileWrapper {
    background-color: #A7D073
}

/* da instructions */

span#instruction {
    font-size: small;
}

div#specialCharacters {
    background-color: #5D8D51;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
}

div.characterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#regularCharacters {
    background-color: #A7D073;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
}

div.activeTiles {
    background-color: #FEFCC8;
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    height: 30px;
    width: 35px;
}

div.emptyTiles {
    margin: 5px;
    background-color: #5D8D51;
    border-radius: 10px;
    font-size: large;
    height: 35px;
    width: 35px;
}

div.characterColumn {
    display: flex;
    flex-direction: column;
}

div.activeTiles:hover {
    cursor: pointer;
    background-color: #eeecbc;
}


.star {
    background-image: url("./svgs/Star.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.star svg path{
    fill: currentcolor;
  }

#starContainer {
    display: flex;
    flex-direction: row;
}

#starContainer {
    display: flex;
    flex-direction: row;

}